/* BUTTONS
========================= */
.button {
  font-weight: bold; color: #58595b;
  display: inline-block;
  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: top;
  margin: 1px 2px 0;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 26px/100% "Rockwell", "Rockwell MT", "American Typewriter", georgia,serif;
  padding: 0.3em 1em 0.35em;

  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;

  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);

  color: #59595b;
  background: #e7e7e7;
  background: -webkit-gradient(linear,left bottom,left top, color-stop(0, #e7e7e7), color-stop(1, #f7f7f7));
  background: -moz-linear-gradient(center bottom, #e7e7e7 0%, #f7f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e7e7e7');
  border: 1px solid #bbb;
}

.button:hover {
  text-decoration: none;
  color: #59595b; border: none;
  background: #d6d6d6;
  background: -webkit-gradient(linear,left bottom,left top, color-stop(0, #d6d6d6), color-stop(1, #e7e7e7));
  background: -moz-linear-gradient(center bottom, #d6d6d6 0%, #e7e7e7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#e7e7e7');
  border: 1px solid #bbb;
}

.button:active {
  color: #59595b;
  background: #d6d6d6;
  background: -webkit-gradient(linear,left bottom,left top, color-stop(0, #eee), color-stop(1, #d6d6d6));
  background: -moz-linear-gradient(center bottom, #eee 0%, #d6d6d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#eeeeee'); }

.button a:hover  { border: none; text-decoration: none; }
.button.rounded  { -moz-border-radius: 2em; -webkit-border-radius: 2em; border-radius: 2em; }
.button.medium   { font-size: 14px; padding: 0.5em 1.5em 0.55em; }
.button.small    { font-size: 11px; padding: .2em 1em .2em; }


/* BUTTON VARIATIONS
========================= */

/* first level button == BRIGHT BLUE */

.button.primary {
  text-shadow: 0 -1px 0 #333;
  color: #fff;
  border: 1px solid #207cb8;
  background: #1988ce;
  background: -webkit-gradient(linear,left bottom,left top, color-stop(0, #1988ce), color-stop(1, #68c4ff));
  background: -moz-linear-gradient(center bottom, #1988ce 0%, #68c4ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68c5ff', endColorstr='#1d96e1');
  -webkit-box-shadow: 0 1px 1px #166a9f;
  -moz-box-shadow: 0 1px 1px #166a9f;
  box-shadow: 0 1px 1px #166a9f;
}

.button.primary:hover {
  color: #fff;
  border: 1px solid #207cb8;

 background-color: #318bc6;
 background: -webkit-gradient(linear,left bottom,left top, color-stop(0, #318bc6),color-stop(1, #1988ce));
 background: -moz-linear-gradient(center bottom, #318bc6 0%, #1988ce 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1988ce', endColorstr='#318bc6')
    -webkit-box-shadow: 0 1px 1px #166a9f;
  -moz-box-shadow: 0 1px 1px #166a9f;
  box-shadow: 0 1px 1px #166a9f;
}


/* second level button == Black */
.button.secondary {
  color: #e9e9e9;
  border: solid 1px #555;
  background: #6e6e6e;
  background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
  background: -moz-linear-gradient(top,  #888,  #575757);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.button.secondary:hover {
  text-decoration: none;
  color: #e9e9e9;
  border: solid 1px #555;
  background: #616161;
  background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
  background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.button.secondary:active {
  color: #afafaf;
  border: solid 1px #555;
  background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
  background: -moz-linear-gradient(top,  #575757,  #888);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

/* DISABLED */
.button.disabled {
  color: #e9e9e9;
  border: solid 1px #555;
  cursor: default;
  background: #6e6e6e;
}
.button.disabled:hover {
  text-decoration: none;
  color: #e9e9e9;
  border: solid 1px #555;
  background: #6e6e6e;
}
.button.disabled:active {
  color: #e9e9e9;
  border: solid 1px #555;
}

/* buy now button == BLUE */
.button.buy-now {
  font: 26px/100% "Rockwell", "Rockwell MT", "American Typewriter", georgia,serif;
  text-shadow: 0 -1px 0 #333;
  color: #fff;
  border: none;
  background: #1d81c1;
  background: -webkit-gradient(linear,left bottom,left top, color-stop(0, #1d96e1),color-stop(0.47, #1d81bf), color-stop(0.5, #1d81bf),color-stop(1, #68c5ff));
  background: -moz-linear-gradient(center bottom, #1d96e1 0%,  #1d81bf 47%, #1d81bf 50%, #68c5ff 100%);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#68c5ff', endColorstr='#1d96e1');
}
.button.buy-now:hover {
  color: #fff;
  border: none;
  background-color: #318bc6;
  background: -webkit-gradient(linear,left bottom,left top, color-stop(0, #318bc6),color-stop(0.47, #1f7ab5), color-stop(0.5, #2181c0),color-stop(1, #72b7df));
  background: -moz-linear-gradient(center bottom, #318bc6 0%,  #1f7ab5 47%, #2181c0 50%, #72b7df 100%);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b7df', endColorstr='#318bc6');
  box-shadow: 0;
}
.button.buy-now:active {
  color: #fff;
  border: none;
  background-color: #318bc6;
  background: -webkit-gradient(linear,left bottom,left top, color-stop(0, #318bc6),color-stop(0.47, #1f7ab5), color-stop(0.5, #2181c0),color-stop(1, #72b7df));
  background: -moz-linear-gradient(center bottom, #318bc6 0%,  #1f7ab5 47%, #2181c0 50%, #72b7df 100%);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b7df', endColorstr='#318bc6');
}


/* Buy Button SOLD OUT :: DISABLED ORANGE TEXT */
.button.buy-sold-out {
  color: #f56824;
  border: 1px solid #bebebe;
  cursor: auto;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background: -moz-linear-gradient(top, #ffffff,  #ffffff);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
}
.button.buy-sold-out:hover {
  color: #f56824;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background: -moz-linear-gradient(top, #ffffff,  #ffffff);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
}
.button.buy-sold-out:active {
  color: #f56824;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background: -moz-linear-gradient(top, #ffffff,  #ffffff);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
}

